.App {
  text-align: center;
}

#searchOuter {
  background-image: url('./Pages/Components/Images/searchBg.png');
  background-position: center;
  background-size: cover;
  margin: 0px;
  padding: 20px;
}
#searchContainer {
  width: 50vw;
}
#cardContainer {
  width: 50%;
  margin: 15px;
}
#searchButton {
  margin: 10px 0;
}